<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cos.playground.mapper.CBoardMapper">
 
 <resultMap type="com.cos.playground.model.CBoard" id="Board">
 	<id property="id" column="id" />
 	<result property="bno" column="bno"/>
 	<result property="title" column="title"/>
 	<result property="content" column="content"/>
 	<result property="regdate" column="regdate"/>
 	<result property="file" column="file"/>
 	<result property="favCount" column="fav_count"/>
 	<result property="viewCount" column="view_count"/>
 	<result property="commentCount" column="comment_count"/>
 	<result property="userId" column="user_id" />
 	<result property="writer" column="writer"/>
 	<result property="category" column="category"/>
 </resultMap>
 
 <!-- 게시글 한 건 보기 -->
 <select id="findById" resultMap="Board">
 select * from cboard where id=#{id}
 </select>
 
 <!-- 조회수 증가 -->
 <update id="increaseView">
 update cboard set view_count = view_count+1 where id=#{id}
 </update>
 
 <!-- 게시글 목록 보기 -->
 <select id="findAll" resultMap="Board">
 select * from board
 </select>
 
 <!-- 게시글 쓰기 -->
 <insert id="write">
insert into cboard(title, content, regdate, user_id) 
values(#{title}, #{content}, now(), #{userId})
 </insert>
 
 <!-- 게시글 수정하기 -->
 <update id="update">
 update cboard set title = #{title}, content=#{content} where id=#{id}
 </update>
 
 <!-- 게시글 삭제하기 -->
 <delete id="delete">
 delete from cboard where id=#{id}
 </delete>
 
 <!-- 댓글이 달리면 commentCount를 1 증가하기 -->
 <update id="increaseComment">
  update cboard set comment_count = comment_count+1 where id=#{id}
 </update>
 
 </mapper>