<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cos.playground.mapper.UserMapper">

 <resultMap type="com.cos.playground.model.Fav" id="Fav">
 	<result property="userId" column="user_id"/>
 	<result property="boardId" column="board_id"/>
 </resultMap>

<!-- 회원 한건보기 (username으로 검색) -->
<select id="findByUsername" resultType="com.cos.playground.model.User">
select * from user where username=#{username}
</select>

<!-- 회원 한건보기 (id로 검색) -->
<select id="findById" resultType="com.cos.playground.model.User">
select * from user where id=#{id}
</select>

<!-- 회원 가입하기 -->
<insert id="join">
insert into user(username, password, name, email, phone, career, regdate)
values (#{username}, #{password}, #{name}, #{email}, #{phone}, #{career}, now())
</insert>

<!-- 회원 정보 수정하기 -->
<update id="updateInfo">
update user set password=#{password}, name=#{name}, email=#{email}, phone=#{phone}, career=#{career}
where username=#{username}
</update>

<!-- 회원 탈퇴 -->
<delete id="delete">
delete from user where username=#{username}
</delete>

<!-- 게시글 좋아요 누르기 -->
<insert id="likePost">
insert into fav(user_id,board_id) values (#{userId},#{boardId})
</insert>

<!-- 게시글 좋아요 취소하기 -->
<delete id="cancleFav">
delete from fav where user_id=#{userId} and board_id=#{boardId}
</delete>

<!-- 해당 글에 좋아요 누른 내역이 있는지 확인하기 -->
<select id="favHistory" resultMap="Fav">
select * from fav where user_id=#{userId} and board_id=#{boardId}
</select>

<!-- 게시글 좋아요 목록 보기 -->
<select id="favList" resultType="com.cos.playground.model.CBoard">
select cboard.id, cboard.title, cboard.content, cboard.regdate, cboard.user_id
from cboard inner join (select * from fav where user_id=#{userId}) as favhistory
where cboard.id = favhistory.board_id
</select>

<!-- 내가 작성한 글 목록 보기 -->
<select id="myPostList" resultType="com.cos.playground.model.CBoard">
select * from cboard where user_id=#{userId}
</select>

<!-- 내가 작성한 댓글 목록 보기 -->
<select id="myCommentList" resultType="com.cos.playground.model.Comment">
select * from comment where user_id=#{userId}
</select>

</mapper>